<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<div class="signin">
    <div class="uk-container">
        <span>Sign In</span>
    </div>
</div>
<!-- <%- include('../includes/footer.ejs') %> -->
<%- include('../includes/end.ejs') %>
