// navbar style

.navbar {
    background: $mainColor;
    .uk-logo {
        color: $mainLight;
        font-size: 25px !important;
        sub {
            font-size: 9px;
        }
    }
    .uk-navbar-nav {
        li {
            a {
                color: $mainLight;
                &:hover, &:active {
                    color: #fff;
                }
                i {
                    font-size: 20px;
                    margin-left: 5px;
                }
            }
        }
    }

    a[title="Notifications"] {
        i {
            font-size: 15px !important;
        }
        .uk-badge {
            background: $mainDark;
            min-width: 17px;
            height: 17px;
            font-size: 14px;
        }
    }

    .uk-dropdown {
        border: 1px solid #e2e2e2;
        border-radius: 2px;
    }

    .user-actions {
        ul {
            a {
                color: $mainDark;
                &:hover, &:active {
                    color: inherit;
                    text-decoration: none;
                }

                i {
                    margin-right: 6px;
                    color: $mainColor;
                    font-size: 18px;
                }
            }
        }
    }

    .friend-requests {
        h6 {
            color: $mainDark;
        }
        .friend-img {
            img {
                margin-bottom: 6px;
            }
            span {
                font-size: 14px;
                color: #1e87f0;
            }
        }
        .action {
            button {
                cursor: pointer;
                border: none;
                width: 35px;
                height: 25px;
                border-radius: 2px;
                color: $mainLight;
                outline: none;
            }
            .accept {
                background: #1e87f0;
                margin-right: 3px;
            }
            .decline {
                background: #dc3545;
            }
        }
    }

    // sidebar btn
    .uk-navbar-right {
        .open-btn {
            border: none;
            line-height: 0;
            i {
                font-size: 28px;
                color: $mainLight;
            }
        }
    }

    // sidebar
    .uk-offcanvas-bar {
        background-color: $mainColor;
        h3 {
            // font-size: 25px;
            sub {
                font-size: 9px;
            }
        }
        .uk-nav {
            padding: 5px 0;
            li {
                padding: 8px 0;
                a {
                    color: $mainLight;
                    text-transform: uppercase;
                    font-size: .8rem;
                    .uk-badge {
                        margin-top: -10px;
                        background: $mainDark;
                        color: $mainLight;
                        line-height: 12px;
                    }
                }
            }
            .logout-btn {
                padding: 0;
                min-height: 25px;
                font-size: 19px;
            }
        }
    }

    .uk-navbar-item, 
    .uk-navbar-nav > li > a, 
    .uk-navbar-toggle {
        min-height: 67px;
        font-size: .8rem;
    }
}

// footer style
.footer {
    p {
        a {
            color: $mainColor;
        }
    }
}