// signup style
.signup, .signin {
    .signup-img, .signin-img {
        background: url('/img/signup.svg');
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        a {
            position: fixed;
            top: 5%;
            left: 3%;
            color: $mainColor;
            background: #fff;
            width: 40px;
            height: 40px;
            line-height: 43px;
            border-radius: 50%;
            text-align: center;
            box-shadow: 2px 2px 15px rgba(0, 0, 0, .17);
            i {
                font-weight: 900;
                font-size: 18px;
            }
        }
    }
    .signup-form, .signin-form {
        .form-heading {
            h2 {
                color: #000;
                margin-bottom: 8px;
                .app-name {
                    font-weight: 900;
                    color: $mainColor;
                }
            }
            p {
                margin: 0;
            }
        }
        .uk-container-xsmall {
            max-width: 450px;
        }
        .inputs {
            .invalid-feedback2 {
                width: 100%;
                margin-bottom: .50rem;
                font-size: 80%;
                color: #dc3545;
            }
            .uk-input {
                width: 100%;
                height: 50px;
                font-size: 17px;
                color: #777;
                margin-top: 0;
                border: 1px solid #ced4da;
                outline: none;
                transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                border-radius: 2px;
                &::placeholder {
                    font-size: 15px;
                    color: #aaa;
                }
                &:focus {
                    background-color: #fff;
                    border-color: $mainColor;
                    box-shadow: 0 0 0 0.25rem rgba(0,123,255,.25);
                }
            }
            .input {
                .input-error {
                    border: 1px solid #dc3545 !important;
                    &:focus {
                        border-color: #dc3545 !important;
                        box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, .25) !important;
                    }
                }
                .invalid-feedback {
                    width: 100%;
                    margin-top: .25rem;
                    font-size: 80%;
                    color: #dc3545;
                }
            }
            .signup-control, .signin-control {
                margin-top: 20px;
                .signup-btn, .signin-btn {
                    button, a {
                        cursor: pointer;
                        text-transform: uppercase;
                        font-size: 14px;
                        background: $mainColor;
                        color: $mainLight;
                        border: none;
                        height: 43px;
                        width: 120px;
                        border-radius: 2px;
                        outline: none;
                        i {
                            opacity: 0;
                            margin-left: -13px;
                            transition: all .2s ease-in-out;
                        }
                        &:hover {
                            i {
                                opacity: 1;
                                margin-left: 6px;
                            }
                        }
                    }
                    a {
                        background: transparent;
                        color: $mainColor;
                        font-weight: 900;
                        text-decoration: none;
                    }
                }
                .have-account, .create-account {
                    text-align: right;
                }
            }
            .social-auth {
                p {
                    width: 100%; 
                    text-align: center; 
                    border-bottom: 1px solid #999; 
                    line-height: 0.1em;
                    margin: 5px 0 10px;
                    span {
                        background:#fff; 
                        padding:0 8px;
                        font-size: 15px;
                    }
                }
                .social-links {
                    margin-top: 20px;
                    .fb-link, .google-link {
                        a {
                            color: #fff;
                            i {
                                width: 40px;
                                height: 40px;
                                line-height: 40px;
                                text-align: center;
                                border-radius: 2px;
                                transition: all .2s ease-in-out;
                                &:hover {
                                    transform: rotate(360deg);
                                }
                            }                            
                        }
                    }
                    .fb-link {
                        a {
                            i {
                                background: #3b5998;
                            }
                        }
                    }
                    .google-link {
                        a {
                            i {
                                background: #ea4335;
                            }
                        }
                    }
                }
            }
        }
    }
}

// sigin style
.signin-img {
    background: url('/img/signin.svg') no-repeat !important;
    background-size: cover !important;
    background-position: 50% 50% !important;
    position: relative !important;
}

// admin page
.admin-dashboard {
    .uk-container-small {
        max-width: 500px
    }
    .form-content {
        padding: 50px;
        h3 {
            color: $mainColor;
            font-weight: 900;
        }
        .uk-input {
            width: 100%;
            height: 50px;
            font-size: 17px;
            color: #777;
            margin-top: 0;
            border: 1px solid #ced4da;
            outline: none;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            border-radius: 2px;
            &::placeholder {
                font-size: 15px;
                color: #aaa;
            }
            &:focus {
                background-color: #fff;
                border-color: $mainColor;
                box-shadow: 0 0 0 0.25rem rgba(0,123,255,.25);
            }
        }
        .upload-btn {
            width: 100%;
            height: 50px;
            background: #f3f3f3;
            border: none;
            cursor: pointer;
        }
        .add-btn {
            cursor: pointer;
            text-transform: uppercase;
            font-size: 14px;
            background: $mainColor;
            color: $mainLight;
            border: none;
            height: 43px;
            width: 120px;
            border-radius: 2px;
            outline: none;
        }
    }
}