    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>