<div class="footer uk-text-center uk-margin-medium-top">
    <div class="uk-container">
        <div>
            <p class="uk-text-uppercase">&copy; <%= new Date().getFullYear() %>, Made By <a href="https://github.com/KiiMuu" target="_blank">K!M</a></p>
        </div>
    </div>
</div>