<% var numberOfTrue = 0 %>

<% for (let i = 0; i < chat.length; i++) {
    if (chat[i].body.isRead === false) {
        numberOfTrue += 1;
    }
} %>

<li>
    <a href="#" title="Messages">
        <i class="fa fa-comments"></i>
        <% if (numberOfTrue > 0) { %>
            <span class="uk-badge"><%= numberOfTrue %></span>
        <% } %>
    </a>
    <div class="uk-width-large" uk-dropdown="mode: click; animation: uk-animation-slide-top-small;">
        <div class="friend-requests">
            <h6 class="uk-text-uppercase">Friend Messages</h6>
            <div class="content">
                <div class="uk-child-width-1-2" uk-grid>
                    <% if (numberOfTrue !== 0) { %>
                        <% chat.forEach(val => { %>
                            <div class="friend-img uk-text-left">
                                <img src="http://placehold.it/40" alt="<%= val.username %>">
                                <div>
                                    <a href="#" title="View Profile"><span><%= val.username %></span></a>
                                </div>
                            </div>
                            <div class="action uk-text-right">
                                message here
                            </div>
                        <% }) %>
                    <% } else { %>
                        <div class="uk-width-1-1" uk-grid>
                            <p class="uk-text-muted">You haven't any friend messages.</p>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</li>