<div uk-sticky="sel-target: .navbar; cls-active: uk-navbar-sticky">
    <div id="nav" class="navbar">
        <div class="navbar-content">
            <div class="uk-container">
                <nav uk-navbar>
                    <div class="uk-navbar-left">
                        <a class="uk-navbar-item uk-logo uk-text-uppercase" href="/">K<span class="uk-text-lowercase">i</span>K <sub>chat</sub></a>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav uk-visible@m">
                            <li><a href="/">Home</a></li>
                            <li>
                                <a href="#"><%= user.username %> <i class="fa fa-angle-down"></i></a>
                                <div uk-dropdown="mode: click; animation: uk-animation-slide-top-small;">
                                    <ul>
                                        <li>Link</li>
                                    </ul>
                                </div>
                            </li>
                            <!-- <div class="uk-inline">
                                <button class="uk-button uk-button-default" type="button">Click</button>
                                <div uk-dropdown="mode: click">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                            </div> -->
                            <li><a href="/signup">Sign Up</a></li>
                            <li><a href="/signin">Sign In</a></li>
                        </ul>
                        <!-- Show Nav items in sidebar in phone screens -->
                        <div class="uk-hidden@m">
                            <button class="uk-button uk-button-default open-btn" type="button" uk-toggle="target: #offcanvas-overlay"><i class="fa fa-bars" aria-hidden="true"></i></button>
                            <div id="offcanvas-overlay" uk-offcanvas="overlay: true">
                                <div class="uk-offcanvas-bar">
                                    <button class="uk-offcanvas-close" type="button" uk-close></button>
                                    <h3 class="uk-text-uppercase">KiK <sub>chat</sub></h3>
                                    <ul class="uk-nav uk-nav-default">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/signup">Sign Up</a></li>
                                        <li><a href="/signin">Sign In</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>