body, html {
  font-family: 'Montserrat', sans-serif; }

.navbar {
  background: #00B5B5; }
  .navbar .uk-logo {
    color: #F3F3F3;
    font-size: 25px !important; }
    .navbar .uk-logo sub {
      font-size: 9px; }
  .navbar .uk-navbar-nav li a {
    color: #F3F3F3; }
    .navbar .uk-navbar-nav li a:hover, .navbar .uk-navbar-nav li a:active {
      color: #fff; }
  .navbar .uk-navbar-right .open-btn {
    border: none;
    line-height: 0; }
    .navbar .uk-navbar-right .open-btn i {
      font-size: 28px;
      color: #F3F3F3; }
  .navbar .uk-navbar-right .logout-btn {
    background: none;
    border: none;
    color: #F3F3F3;
    min-height: 67px;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color;
    cursor: pointer;
    font-size: 19px; }
    .navbar .uk-navbar-right .logout-btn:hover, .navbar .uk-navbar-right .logout-btn:active {
      color: #fff; }
  .navbar .uk-navbar-right .uk-badge {
    margin-top: -16px;
    background: #262626; }
  .navbar .uk-offcanvas-bar {
    background-color: #00B5B5; }
    .navbar .uk-offcanvas-bar h3 sub {
      font-size: 9px; }
    .navbar .uk-offcanvas-bar .uk-nav {
      padding: 5px 0; }
      .navbar .uk-offcanvas-bar .uk-nav li {
        padding: 8px 0; }
        .navbar .uk-offcanvas-bar .uk-nav li a {
          color: #F3F3F3;
          text-transform: uppercase;
          font-size: .8rem; }
          .navbar .uk-offcanvas-bar .uk-nav li a .uk-badge {
            margin-top: -10px;
            background: #262626;
            color: #F3F3F3;
            line-height: 12px; }
      .navbar .uk-offcanvas-bar .uk-nav .logout-btn {
        padding: 0;
        min-height: 25px;
        font-size: 19px; }
  .navbar .uk-navbar-item,
  .navbar .uk-navbar-nav > li > a,
  .navbar .uk-navbar-toggle {
    min-height: 67px;
    font-size: .8rem; }

.footer p a {
  color: #00B5B5; }

.signup .signup-img {
  background: url("/img/signup.svg") no-repeat;
  background-size: cover;
  position: relative; }
  .signup .signup-img a {
    position: fixed;
    top: 5%;
    left: 3%;
    color: #00B5B5;
    background: #fff;
    width: 40px;
    height: 40px;
    line-height: 43px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.17); }
    .signup .signup-img a i {
      font-weight: 900;
      font-size: 18px; }

.signup .signup-form .form-heading h2 {
  color: #000;
  margin-bottom: 8px; }
  .signup .signup-form .form-heading h2 .app-name {
    font-weight: 900;
    color: #00B5B5; }

.signup .signup-form .form-heading p {
  margin: 0; }

.signup .signup-form .uk-container-xsmall {
  max-width: 450px; }

.signup .signup-form .inputs .uk-input {
  width: 100%;
  height: 50px;
  font-size: 17px;
  color: #777;
  margin-top: 7px;
  border: 1px solid #ced4da;
  outline: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-radius: 2px; }
  .signup .signup-form .inputs .uk-input::-webkit-input-placeholder {
    font-size: 15px;
    color: #aaa; }
  .signup .signup-form .inputs .uk-input::-moz-placeholder {
    font-size: 15px;
    color: #aaa; }
  .signup .signup-form .inputs .uk-input:-ms-input-placeholder {
    font-size: 15px;
    color: #aaa; }
  .signup .signup-form .inputs .uk-input::-ms-input-placeholder {
    font-size: 15px;
    color: #aaa; }
  .signup .signup-form .inputs .uk-input::placeholder {
    font-size: 15px;
    color: #aaa; }
  .signup .signup-form .inputs .uk-input:focus {
    background-color: #fff;
    border-color: #00B5B5;
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25); }

.signup .signup-form .inputs .signup-control {
  margin-top: 20px; }
  .signup .signup-form .inputs .signup-control .signup-btn button, .signup .signup-form .inputs .signup-control .signup-btn a, .signup .signup-form .inputs .signup-control .signin-btn button, .signup .signup-form .inputs .signup-control .signin-btn a {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    background: #00B5B5;
    color: #F3F3F3;
    border: none;
    height: 43px;
    width: 120px;
    border-radius: 2px;
    outline: none; }
    .signup .signup-form .inputs .signup-control .signup-btn button i, .signup .signup-form .inputs .signup-control .signup-btn a i, .signup .signup-form .inputs .signup-control .signin-btn button i, .signup .signup-form .inputs .signup-control .signin-btn a i {
      opacity: 0;
      margin-left: -13px;
      transition: all .2s ease-in-out; }
    .signup .signup-form .inputs .signup-control .signup-btn button:hover i, .signup .signup-form .inputs .signup-control .signup-btn a:hover i, .signup .signup-form .inputs .signup-control .signin-btn button:hover i, .signup .signup-form .inputs .signup-control .signin-btn a:hover i {
      opacity: 1;
      margin-left: 6px; }
  .signup .signup-form .inputs .signup-control .signup-btn a, .signup .signup-form .inputs .signup-control .signin-btn a {
    background: transparent;
    color: #00B5B5;
    font-weight: 900;
    text-decoration: none; }
  .signup .signup-form .inputs .signup-control .have-account {
    text-align: right; }

@media (max-width: 640px) {
  .signup-control .signin-btn, .signup-control .signup-btn, .signup-control .or {
    margin: 5px 0;
    text-align: left !important; } }
